/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body{
  font-family: 'Noto Sans', sans-serif;
}
main > .container {
    padding: 60px 15px 0;
  }

table > tbody > tr > td > img {
  border-radius: 50%;
}

table {
  margin-top: 50px;
  font-family: 'Courier New', Courier, monospace;
}

#flexSwitchCheckDefault{
  margin-left: -30px;
  margin-top: 9px;
}
#lblSwitch{
  color: white;
  margin-left: 3px;
  margin-top: 5px;
}

#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
}